*{
    padding: 0;
    margin: 0;
    box-sizing: 0;

}
.first_div{
    background-color: aquamarine;
    color: blueviolet;
}
ins{
    background-color: rgb(17, 58, 94);
    color: violet;
}
a{
    background-color: aquamarine;
    color: blueviolet; 
    text-decoration: none;  
}
a:active{
    color: white;
}
a:hover{
    color: red;
}
.world{
    width: 30;
    height: 30;
    border: 2px solid green;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10 px;
    margin-top: 20px;
    background-color: blueviolet;
    margin-right: 390px;
    padding-right: 10 px;

} 
.box{
    border: 1px solid red;
    /* margin: 0px 800px 0px 0px; */
    width: 500px;
    
    padding: 20px 20px 20px 20px;
    background-color: brown;


}
 .el{
    border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: rgb(158, 44, 44);
} 
.se{

    border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: green;
}
.we{
    
    
    border: 1px solid red;
    
    
    padding: 20px 20px 20px 20px;
    background-color: blue;
}
.yy {border: 1px solid red;
    
    
    padding: 20px 20px 20px 20px;
    background-color: green;}
.gg{border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: blue;} 
.r{
    border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: green;
}
.q{
     border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: blue;}
.a{border: 1px solid red;
    padding: 20px 20px 20px 20px;
    background-color: green;}
.wqqq{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.int {
    border-radius: 20px 0 20px 0 ;
}
#radius {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    margin:10px 0px 20px 520px;
    
    
}
#radius:hover {
    border-radius: 10px 10px 10px 10px;
    background-color: aquamarine;
    
}
