body{
    margin: 0;
}
.con{
    margin: 0 auto;
    width: 1200px;
    background-color: cyan;
    padding: 10px;
}
nav{
    background-color: blue;
    padding: 30px;
}
nav a{
    
    color: white;
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
    padding: 8px 15px;
    background: #a5c7f9;
    border-radius: 5px;
    
}
.pop{
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;

}
.pop:target{
    visibility: visible;
    opacity: 1;

}
