{% extends 'base.html' %}
{% block title %} Basket {% endblock %}

{% block content %}
<div class="container">
    <div class="all">
        <div class="veshi">
            {% for i in product_cart %}
            {% if i.count > 0 %}
            <div class="all2">
                <div class="poc">
                    <div class="img"> <img width="300px" src="{{i.image.url}}" alt=""></div>


                </div>
                <div class="txt">
                    <h3>{{i.price}}$</h3>
                    <h3>{{i.title}}</h3>
                    <h3>{{i.count}}</h3>
                    <a href="{% url 'removeCart' id=i.id %} " class="btn btn-primary">x</a>
                </div>
                <hr>
            </div>
            {% endif %}
            {% endfor %}
            {% if count_of_product == 0 %}

            <h1>aaaaaa</h1>
        </div>
        {% endif %}
    </div>
    <div class="buk">
        <h2>Total {{all_products_sum}}$</h2>
        <h2>Count {{count_of_product}}</h2>
        <p><small></small></p>

        <p></p>
        <h3></h3>
    </div>
</div>
</div>


<div class="row mt-4 d-flex align-items-center">
    <div style="position: fixed; top: 350px; z-index: 2; margin-left: 900px;" class="col-sm-6 order-md-2 text-right">
        <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Оформить заказ
        </a>
    </div>
    {% if messages %}
    {% for i in messages %}
    <div class="alert alert-{{i.extra_tags}} d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            {{i}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/order">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Имя:</label>
                            <input type="text" class="form-control" id="recipient-name" name="c_name">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="recipient-name" name="c_lastname">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Ваш номер:</label>
                            <input type="text" class="form-control" id="recipient-name" name="c_number">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Адрес:</label>
                            <input type="text" class="form-control" id="recipient-name" name="c_addres">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Сообщение:</label>
                            <textarea class="form-control" id="message-text" name="c_message"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>







{% endblock %}