{% extends 'base.html' %}
{% block title %} Just Do It{% endblock %}

{% block content %}
{% for z in product %}
    <div class="card m-3" style="width: 18rem;">
        <img src="{{z.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'more' id=z.id %}">{{z.title}}</a></h5>
            <p class="card-text">{{z.desc}}</p>
            <h5 class="card-title">{{z.price}} $</h5>
            <a href="{% url 'addCart' pk=z.id %}" class="btn btn-primary">buxket</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}