<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild Life</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="shortcut icon" href="img/path0.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <section class="navbarbag">
        <div class="navbar">
            <div class="container">
                <div class="logo">
                    <img src="./img/path0.png" alt="">
                    <h3 class="wildlogo">WILDLIFE</h3>

                </div>
                <div class="text">
                    <p>Blog</p>
                    <p>Contacts</p>
                    <a href="#"><img width="23px" height="23px" src="./img/Vector (5).png" alt=""></a>
                    <p>Sign In</p>
                </div>
            </div>
            <div class="container">
                <div class="texth">
                    <h1>Survival</h1>
                    <p>What this means is that we exist to help protect our environment and do in numbers of ways. You
                        can save the planet by donation.</p>
                    <button class="donat">Donate</button>
                </div>
            </div>
        </div>
    </section>
    <section class="cardssec">
        <div class="container">
            <div class="up">
                <div class="lat">
                    <h2>
                        Latest articles
                    </h2>
                </div>
                <div class="breal">
                    <p>
                        Breaking news from the wild
                    </p>
                </div>
            </div>
            <div class="cen">
                <div class="vec">
                    <img src="./img/Vector (6).png" alt="">
                </div>
                <div class="deer cards">
                    <h4>Deer</h4>
                    <small>Naturalist investigation</small>
                </div>
                <div class="Squirrel cards">
                    <h4>Squirrel</h4>
                    <small>Kamikaze squirrels</small>
                </div>
                <div class="Bird cards">
                    <h4>Bird</h4>
                    <small>Birds Fight club</small>
                </div>
                <div class="vec">
                    <img src="./img/Vector (7).png" alt="">
                </div>
            </div>
            <div class="end">
                <h3>
                    Get notified about new amazing articles
                </h3>
                <div class="ints">
                    <input class="int1" type="email" placeholder="  your email" name="" id=""> <input class="int2"
                        type="button" value="send">
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="fot">

                <div class="logoss">
                    <img width="68px" height="59px" src="./img/path0.png" alt="">
                    <h3 class="wildlogo">WILDLIFE</h3>
                </div>
                <div class="texti">
                    <h4>Articles</h4>
                    <h4>About us</h4>
                    <h4>Learn more</h4>
                </div>
                <div class="links">
                    <a href="#"><img src="./img/Frame (4).png" alt=""></a>
                    <a href="#"><img src="./img/Frame (5).png" alt=""></a>
                    <a href="#"><img src="./img/Frame (6).png" alt=""></a>
                    <a href="#"><img src="./img/Frame (7).png" alt=""></a>
                </div>
            </div>

        </div>

    </footer>

</body>

</html>